@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 500vh;
    width: 100vw;
}

/* MENU */
.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .2s;
    z-index: 3;
    font-family: 'Bebas Neue', sans-serif;
}

header.rolagem {
    background-color: #ffc400;
    padding: 20px 4%;
}

header.rolagem a {
    color: white;
}

header.rolagem i, #header.rolagem i {
    color: rgb(40, 59, 146);
}

header a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#header .fa-glasses {
    font-size: 30px;
    color: rgb(255, 196, 0);
    margin-right: 5px;
}

header h1 {
    color: grey;
}

header span {
    color: white;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 20px;
}

header ul li a {
    color: rgb(255, 196, 0);    
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%);
}

.search-box:hover > .search-text {
    width: 150px;
    padding-left: 15px;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    font-size: 12px;
    width: 0;
    padding: 0;
    transition: 0.4s;
}

.search-btn i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #ffc400;
    border-radius: 50%;
    cursor: pointer;
}

.open-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 17px;
    background-color: grey;
    color: #ffc400;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
    transition: .4s ease;
}

.open-modal:hover{
    transform: scale(1.2);
}

.fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal {
    display: none;
    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 80%;
    z-index: 1000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    gap: 2;
}

.modal-header h2 {
    margin: 0 auto;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}

.close-modal {
    position: absolute;
    font-size: 30px;
    bottom: 85%;
    left: 85%;
    cursor: pointer;
}

.form-group-login {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: "Fredoka", sans-serif;
}

.form-group label {
   font-size: 14px;
}

.form-group input {
    color: grey;
    border-color: transparent;
    border-radius: 10px;
    padding: 5px;
    width: 15rem;
    height: 30px;
    font-weight: 600;
    font-size: 12px;
}

.form-group input:focus {
    box-shadow: none;
    outline: 0;
}

#links a {
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: .4s;
}

#links a:hover {
    color: #ffc400;
}

#btn-login {
    padding: 5px;
    width: 50%;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    border: transparent;
    border-radius: 10px;
    background-color: #ffc400;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    transition: all 0.3s ease;
}

#btn-login:hover {
    color: #ffc400;
    background-color: #ffffff;
    border-color: #ffc400;
    box-shadow: #ffc400 0px 3px 7px;
}

#btn-login:active {
    transform: translateY(7px);
    transition: 100ms;
}

.from-group-cadastro {
    display: none;
}


.error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* BACKGROUND 1 */
.banner {
    height: 100vh;
    background-image: url("https://wallpaper4k.top/wp-content/uploads/2024/01/Papel-de-parede-de-alta-resolucao-Android-18-Dragon-Ball-para-PC-e-Celular-1024x576.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    color: #ffc400;
}

.banner h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7em;
}

.banner h1 span {
    color: grey;
}

.text-banner {
    width: 40rem;
    animation: typing 3s steps(25), blinking .4s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    color: rgba(255, 255, 255, 0.753);

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}

#form {
    width: 300px;
    margin: 0 auto;
}


@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    20% {
        border-color: rgba(255, 255, 255, 0.2);
    }
}